/* 
* @Author: Marte
* @Date:   2017-03-14 18:20:46
* @Last Modified by:   Marte
* @Last Modified time: 2017-03-14 18:41:21
*/
.content{
    padding-top:35px;
    width:1200px;
    margin:0 auto;
}
.content .topImg{
    width:790px;
}
.content .top .left{
    width:790px;
}
.content .top .right{
    width:350px;
    padding:0 30px;
}
.content .top .right .topic{
    font-size:18px;
    color:#454545;
    font-weight:bold;
    line-height:30px;
    padding-top:60px;
    padding-bottom:60px;
}
.content .top .right .words{
    font-size:16px;
    color:#454545;
    line-height:28px;
    margin-bottom:26px;
}
